body {
  color: black;
  background-color: black;
  background-image: url("./image/gerson-unsplash.jpg");
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Raleway', sans-serif;
  margin: 0 !important;
}
.hidden {
  opacity:0;
}
.console-container {
  text-align:center;
  letter-spacing: 1.2rem;
  font-size: 4.5vw;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-shadow: 0 5px 4px #000000;
  padding-top: 22rem;
  text-transform: uppercase;
  color:white;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin:auto;
}
.console-underscore {
  display:inline-block;
  position:relative;
  top:-0.14em;
  left:10px;
}
.subconsole-container {
  text-align:center;
  letter-spacing: .2rem;
  font-size: 1.6vw;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-shadow: 0 4px 4px #000000;
  text-transform: uppercase;
  color:white;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin:auto;
}
.subconsole-underscore {
  display:inline-block;
  position:relative;
  top:-0.14em;
  left:10px;
}
.wrapper {
  height: 100vh;
}
.mainscreen {
  margin: 0 !important;
  height: 100vh;
  background-color: rgba(0,0,0,0.7);
}
.scroll-down-text{
  color: white;
  padding-top: 17rem;
  font-size: 1.2rem;
  text-transform: uppercase;
}
.about-screen {
  height: 100vh;
  background-color: rgba(0,0,0,0.7);
}
.about-screen h2 {
  padding-top: 20rem;
  letter-spacing: .1rem;
  font-size: 1.5vw;
  color: rgb(222,222,222);
}
.about-screen p {
  padding-top: 1.5rem;
  padding-left: 25rem;
  padding-right: 25rem;
  font-size: 1.3rem;
  color: rgb(222,222,222);
}
