body {
  color: black;
  background-color: black;
  font-family: 'Raleway', sans-serif;
}
.mainscreen {
  margin: 0 !important;
  background-image: url("./image/mk-unsplash.jpg");
  height: 1000px;
  background-size: cover;
  background-repeat: no-repeat;
}
.mainscreen h1 {
  letter-spacing: 1rem;
  font-size: 4.5vw;
  padding-top: 18rem;
  text-transform: uppercase;
  color: rgb(230,230,230);
}
.mainscreen h2 {
  letter-spacing: .2rem;
  font-size: 2vw;
  text-transform: uppercase;
  color: rgb(230,230,230);
}
.navbar{
  margin-top: 22rem;
  font-size: 1.3rem;
  text-transform: uppercase;
}
.about-screen {
  height: 600px;
  background-color: rgb(17,17,17);
}
.about-screen h2 {
  padding-top: 10rem;
  letter-spacing: .1rem;
  font-size: 1.5vw;
  color: rgb(222,222,222);
}
.about-screen p {
  padding-top: 1.5rem;
  padding-left: 14rem;
  padding-right: 14rem;
  font-size: 1.3rem;
  color: rgb(222,222,222);
}
