html {
    scroll-snap-type: y mandatory;
    overflow-wrap: break-word;
    word-wrap: break-word;
}
body {
    overflow-x: hidden;
    color: black;
    background-color: white;
    font-family: 'Abel', sans-serif;
}
.navbar {
    text-transform: uppercase;
    font-weight: 700;
    font-size: .9rem;
    letter-spacing: .1rem;
    height: 60px;
    width: 100%;
    max-width: 100%;
    background-color: rgba(0, 0, 0, .4) !important;
}
.navbar-brand {
    margin-left: 5%;
}
.navbar-brand img {
    height: 45px;
    width: 45px;
}
.navbar-brand h2 {
    padding-top: .3rem;
    float: right;
    padding-left: .5rem;
    color: white;
}
.navbar-nav {
    margin-right: 5%;
}
.navbar-nav li {
    padding-right: .7rem;
}
.navbar-dark .navbar-nav .nav-link {
    color: white;
    padding-top: .8rem;
}
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
    color: rgb(102, 243, 74);
}
.navbar .navbar-toggler {
    margin-top: -.8rem;
    margin-right: 5%;
    border-color: rgb(255,255,255) !important;
}
.navbar .navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.mainscreen{
    margin: 0 !important;
    padding-top: 6rem;
    padding-bottom: 4rem;
    background-image: url("../image/shallow-weed.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;
}
.clearcard {
    background-color: rgba(30, 30, 30, .4) !important;
}
.icon-control {
    float: right;
    color: white;
}
.title {
    color: black;
    font-size: 1.3rem;
}
.price {
    color: black;
    font-size: 1.2rem;
}
.contain-image {
    width: 100%;
}
.black-text {
    color: black;
}
.dropd {
    color: white;
    font-size: 1.2rem;
}
.list-menu {
    list-style: none;
    margin: 0;
    padding: 0;
}
.like {
  font-size: 1.5rem;
}
.row {
    margin: 0 !important;
}
.footer {
    margin-left: 0;
    margin-right: 0;
    bottom: 0;
    font-family: 'Rubik', sans-serif;
    color: white;
    padding: 1.5rem 0 1.5rem 0;
    z-index: 3;
}
.footer h4 {
    padding-bottom: .2rem;
}
.minmarg {
    margin-top: .5rem;
    margin-bottom: .5rem;
}
.nomarg {
    margin: 0 !important;
    padding: 0 !important;
}
.nopad {
    padding: 0 !important;
}
.socket {
    width: 100%;
    border-top: .1rem solid white;
    margin-top: .3rem;
}
.small-font {
  font-size: 1rem;
}
.smaller-font {
  font-size: .9rem;
}
