html,body {
  overflow-x: hidden;
  color: black;
  font-family: 'Abel', sans-serif;
}
.navbar {
  text-transform: uppercase;
  font-weight: 700;
  font-size: .9rem;
  letter-spacing: .1rem;
  background-color: #4286f4 !important;
}
.navbar-brand {
  font-style: italic;
  color: black !important;
  margin-left: 10%;
}
.navbar-nav {
  margin-right: 15%;
}
.navbar-nav li {
  padding-right: .7rem;
}
.navbar-dark .navbar-nav .nav-link {
  color: black;
  padding-top: .8rem;
}
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
  color: white;
}
.navbar .navbar-toggler {
  margin-right: 10%;
  border-color: rgb(0,0,0) !important;
}
.navbar .navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.products {
  margin-top: 10%;
}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
}
.card {
  width: 500px;
  height: 150px;
  background-color: #fff;
  background: linear-gradient(#f8f8f8, #fff);
  box-shadow: 0 8px 16px -8px rgba(0,0,0,0.4);
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  margin: 1.5rem;
}
.card h1 {
  text-align: center;
}
.card .additional {
  position: absolute;
  width: 150px;
  height: 100%;
  background: linear-gradient(#ced5e0, #c6c9ce);
  transition: width 0.5s;
  overflow: hidden;
  z-index: 2;
}
.card:hover .additional {
  width: 100%;
  border-radius: 0 5px 5px 0;
}
.card .additional .user-card {
  width: 150px;
  height: 100%;
  position: relative;
  float: left;
}
.card .additional .user-card::after {
  content: "";
  display: block;
  position: absolute;
  top: 10%;
  right: -2px;
  height: 80%;
  border-left: 2px solid rgba(0,0,0,0.025);*/
}
.card .additional .user-card img {
  height: 150px;
  width: 150px;
}
.card .additional .more-info {
  width: 300px;
  float: left;
  position: absolute;
  left: 150px;
  height: 100%;
}
.card .additional .coords {
  margin: 0 1rem;
  color: #fff;
  font-size: 1rem;
}
.small-font {
  font-size: .8rem;
}
.card .general {
  width: 300px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  box-sizing: border-box;
  padding: 1rem;
  padding-top: 0;
  padding-bottom: 0;
}
.card .general .more {
  position: absolute;
  bottom: .3rem;
  right: 1rem;
  font-size: 0.9em;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-family: 'Rubik', sans-serif;
  background-color: #495260;
  color: white;
  padding: 1rem 0 1rem;
}
footer h4 {
  padding-bottom: .3rem;
}
hr.socket {
  width: 100%;
  border-top: .1rem solid white;
  margin-top: 1rem;
}
